#box{
    height: 700px;
    width: 600px;
    border: 10px solid black;
    top: 10px;
    border-radius: 50px;
    /* border-top-right-radius: 50px; */
    margin-left: 20px;
    margin: 40px;
    border-bottom: 50px solid black;
   
}
#box1{
    height: 170px;
    background-color:#128c7e;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    margin-bottom: 10px;
}
h2,.box{
    padding-top: 5% ;
    padding-left: 20px;
    color: white;
    margin-bottom: 20px;
    
}
#icon{
    font-size: 30px;
    color: white;
    /* margin-right: 70px; */
    padding-right: 40px;

}
ul{
    float: right;
}
li,#icon{
    display: inline-block;
    margin-right: 5px;
    
}
.fa-solid{
    font-size: 8px;
    margin-left: 5px;
    color: white;
}
span{
    height: 25px;
    width: 100%;
    /* border-radius: 100px; */
    font-weight: bold;
    margin-left: 5px;
    background-color: white;
}
.bi-1-circle{
    color: white;
    margin-left: 5px;
    font-size: 20px;
}
.bi-search{
    font-size: 30px;
    margin-left: 45%;
    margin-right: 10px;
}
li{
    padding-right: 60px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
}
#third{
    padding-right: 100px;
}
#second{
    margin-left: 20px;
}
.dots{
    margin-left: 40px;
}
li::after,#icon::after{
    content: '';
    display: block;
    width: 0%;
    height: 3px;
    background-color: white;
    transition: width .3;
    

}
li:hover::after,#icon:hover::after{
    width: 100%;
    transition: width .3s;
    
}
.fa-compact-disc{
    font-size: 20px;
    color: black;
    text-align: center;
}
#camera{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-top: 10px;
}
.fa-circle-user{
    font-size: 50px;
    margin-top: 10px;
    margin-left: 10px;
    float: left;
    margin-right: 30px;
}
.float{
    margin-right: 20px;
}
.me{
    height: 20px;
    width: 20px;
}
.my{
    height: 60px;
    width: 60px;
    border-radius: 100px;
    float: left;
    margin-right: 30px;
    margin-left: 10px;
}
.hover:hover{
    background-color: rgb(198, 204, 210);
    padding: 10px 0;
}
.fa-sign-in-alt{
    margin:auto;
}
#box:hover{
    overflow: auto;
}